.boxDuration {
    height: 300px;
    width: 500px;
    position: fixed;
    z-index: 1000;
    top: 100px;
    left: 500px;
    background: #FFF;
    padding: 50px;
    border-radius: 30px;
}
.timeOptions{
    margin-top: 30px;
    text-align: center;
}

.dim {
    margin: 10px;
    border-radius: 30px;
}

.radioOptions {
    margin-top: 30px;
    text-align: center;
}

.options {
    margin-right: 10px;
    margin-left: 10px;
}
.cancel {
    position: absolute;
    bottom: 10px;
    left: 20px;
    border: 0px;
    width: fit-content;
    height: fit-content;
    padding: 0px;
    border-radius: 10px;
    color: red;
}
